<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
    <%= sanitize @reply.body %>
    <%= sanitize @reply.body,
          tags: %w(table tr td),
          attributes: %w(id class style) %>
</p>

<p>
  <b>Comment:</b>
  <%= @reply.Comment %>
</p>


<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
